body{
   background-color: #0f1b3d;
   color:beige;
   font-family: poppins;
   line-height: 1.6;
   margin: 0;
   padding: 0;
}
hr{
   width: 50%;
   margin: 20px auto;
   border-top: 1px solid white;
}
h1,h2{
   font-weight: 500;
   font-family: poppins;
   font-size: 30px;
}
p,a{
   color:beige;
   font-weight: 400;
   
}
a{
   color:beige;
   text-decoration: none;
   display: inline-block;
   margin: 5px 0;
   
}


.my{
   color:red;
   font-size: 2rem;
}
.that{
   color:yellow;
}
.fas, .fab{
   margin-right: 1px;
   color: inherit;
}
.linkIcon{
   display: inline-block;
   margin: 0 35px;
   width: 60px;
   height: 60px;
   font-size: 30px;
   border-radius: 50%;
   color: white;
   line-height: 65px;
   text-align: center;
}
.linkIcon:hover{
   transform: scale(1.2);
}
.email-icon{
   background-color: red;
}
.email1-icon{
   background-color: green;
}
.ink-icon{
   background-color: blue;
   
}
.container{
   display: inline-flex;
}

footer{
   
   color: white;
   padding: 5px 0;
   text-align: center;

}
header{
   
   color: white;
   padding: 0;
   text-align: center;
   

}
button{
   width: 100px;
   height: 50px;
   border-radius: 25px;
   margin-inline: 20px;
   font-family: cursive;
   font-size: 15px;
   font-weight: bolder;
   border-style: solid;
}
.b, a{
   width: 100px;
   height: 45px;
   border-radius: 25px;
   margin-inline-start: 20px;
   font-family: cursive;
   font-size: 22px;
   font-weight: bolder;
   
   background-color: rgb(255, 149, 0);
   color: white;
   text-decoration: none;
   text-align: center;
}
.box{
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    background: #050e27;
    box-shadow: 8px 8px 12px rgb(238, 249, 38);}

    img{
      width: 70px;
      height: 70px;
      
      padding: 10px;
      
      
      object-fit: cover;
   }
.purple{
   color: #f8be00;
   
   font-size: 30px;
   font-weight: 700;
   font-style: poppins;
}
.h, a{
   color: #f8be00;
   font-size: 35px;
   font-family: cursive;
   text-decoration: none;
}
h2{
   font-size: 22px;
   text-decoration: underline;
}

.sec{
   
   width: 100%;
   max-width: 700px;
   border-style: dashed;
   border-radius: 25px;
   
   
}
h3{
   font-family: Poppins;
}
section{
   width: 100%;
   max-width: 700px;
   border-style: dashed;
   border-radius: 25px;
   background-color: #030712;
}

details{
max-width: 700px;
width: 100%;
background:#030712;
box-shadow: 10px 10px 8px rgba(240, 252, 27, 0.954);
color: whitesmoke;
border-radius: 20px;

}
summary{
font-size: 35px;
height: 70px;
padding-top: 25px;

}
summary:hover{
background: rgb(243, 243, 242);
color: black;
border-radius: 10px;

}

.jp{
height: 250px;
width: 500px;
border-radius: 30px;
border-style: solid;
border-color: #030712;

border-color: #edf737;
}
.dd{
width:100%;

}

.cert{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 7px 6px 6px 6px rgb(11, 186, 95);
  background: #050e27;
}
.ce{
height:300px;
width:450px;
border-radius: 20px;
}
.cer{
   height:550px;
   width:450px;
   border-radius: 20px;
   }
.online {
font-size: 20px;
background-color: white;
border-radius: 50px;
font-weight: 800;
color: green;
height: 35px;
width: 100%;
max-width: 200px;
-webkit-animation: cssAnimation 5s forwards; 
 animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
 0%   {opacity: 1;}
 90%  {opacity: 1;}
 100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
 0%   {opacity: 1;}
 90%  {opacity: 1;}
 100% {opacity: 0;}
}

.offline{
font-size: 20px;
background-color: white;
border-radius: 50px;
font-weight: 800;
color: red;
height: 35px;
width: 100%;
max-width: 200px;
text-align: center;

}








@media screen and (max-width: 800px) {
   
 
   
 
   footer{
      
      color: white;
      padding: 5px 0;
      text-align: center;
   
   }
   header{
      
      color: white;
      padding: 0;
      text-align: center;
      
   
   }
   .box{
       width: 100%;
       max-width:300px;
       background: white;
       border-radius: 10px;
       background: #050e27;
       box-shadow: 8px 8px 12px rgb(238, 249, 38);}

       img{
         width: 70px;
         height: 70px;
         
         padding: 10px;
         
         
         object-fit: cover;
      }
 
   
  

  
  details{
   max-width: 300px;
   width: 100%;
   background:#07163f;
   box-shadow: 10px 10px 8px rgba(240, 252, 27, 0.954);
   color: whitesmoke;
   border-radius: 10px;
   
  }
  summary{
   font-size: 25px;
  }
  summary:hover{
   background: rgb(243, 243, 242);
   color: black;
   border-radius: 10px;
   
  }
  h1,h2{
   font-weight: 500;
   font-family: poppins;
   font-size: 20px;
}
.purple{
   font-size: 20px;
   color: #f8be00;
}
 
  .jp{
   height: 200px;
   width: 270px;
   border-radius: 30px;
   border-style: solid;
   border-color: #030712;
   border-style: none;
  }
  .dd{
   width:100%;
   
  }
  section{
   max-width: 350px;
  }
  .sec{
   max-width: 350px;
  }
  
  .cert{
     height: 300px;
     width: 300px;
     border-radius: 10px;
     box-shadow: 7px 6px 6px 6px rgb(11, 186, 95);
     background: #050e27;
  }
  .ce{
   height:200px;
   width:280px;
   border-radius: 20px;
  }
  .cer{
   height:400px;
   width:280px;
   border-radius: 20px;
  }
  .online {
   font-size: 20px;
   background-color: white;
   border-radius: 50px;
   font-weight: 800;
   color: green;
   height: 35px;
   width: 100%;
   max-width: 200px;
   -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
  }
  .offline{
   font-size: 20px;
   background-color: white;
   border-radius: 50px;
   font-weight: 800;
   color: red;
   height: 35px;
   width: 100%;
   max-width: 200px;
   text-align: center;
  
  }
 


