body{
   background-color: #030712;
   color:beige;
   font-family: poppins;
   line-height: 1.6;
   margin: 0;
   padding: 0;
}
hr{
   width: 50%;
   margin: 20px auto;
   border-top: 1px solid white;
}
h1,h2{
   font-weight: 500;
   font-family: "poppins";
}
p,a{
   color:beige;
   font-weight: 400;
   
}
a{
   color:beige;
   text-decoration: none;
   display: inline-block;
   margin: 5px 0;
   
}


.my{
   color:red;
   font-size: 2rem;
}
.that{
   color:yellow;
}
.fas, .fab{
   margin-right: 1px;
   color: inherit;
}
.linkIcon{
   display: inline-block;
   margin: 0 25px;
   width: 60px;
   height: 60px;
   font-size: 30px;
   border-radius: 50%;
   color: white;
   line-height: 65px;
   text-align: center;
}
.linkIcon:hover{
   transform: scale(1.2);
}
.email-icon{
   background-color: red;
}
.ink-icon{
   background-color: blue;
}
 footer{
   
   color: white;
   padding: 20px 0;
   text-align: center;

}
header{

   color: white;
   padding: 0.5px 0;
   text-align: center;

}
section{
   padding: 20px;
   
   
   
}
img{
   width: 100px;
   height: 100px;
   
   padding: 10px;
   
   
   object-fit: cover;
}
ul{
   list-style-type:none ;
   padding: 0;
   text-align: center;
}
ul li{
   display: inline-block;
   background: white;
   padding: 10px 15px;
   border-radius: 5px;
   box-shadow: 0 2px 4px white;
   margin: 0 5px;
   color: black
}
form{
   width: 100%;
   max-width: 500px;
   margin: 20px auto;
   padding: 22px;
   background: white;
   box-shadow: 0 5px 15px rgba(75, 27, 27, 0.1);
   color: black;
   font-size: 20px;
   border-radius: 10px;
   text-align: center;
}
form button{
   width: 500px;
   text-align: center;
   margin-top: 20px;
   font-size: 18px;
   background: linear-gradient(to right, #831bcd, #f9620b);
   color: white;
   border-radius: 5px;
   border-color: white;
}
form button:hover{
   background: linear-gradient(to right, #f9620b,  #831bcd );
}
form input{
   align-items: center;
   margin-left: 35px;

}
form textarea{
   margin-top: 20px;
   margin-left: 10px;
}



@media screen and (max-width: 800px) {
   form{
      width: 100%;
      max-width: 300px;
      margin: 20px auto;
      padding: 22px;
      background: white;
      box-shadow: 0 5px 15px rgba(75, 27, 27, 0.1);
      color: black;
      font-size: 15px;
      border-radius: 10px;
      text-align: center;
   }
   form button{
      width: 80%;
      text-align: center;
      margin-top: 20px;
      font-size: 25px;
      background: linear-gradient(to right, #831bcd, #f9620b);
      color: white;
      border-radius: 5px;
      border-color: white;
   }
   form button:hover{
      background: linear-gradient(to right, #f9620b,  #831bcd );
   }
   form input{
      align-items: center;
      margin-left: 35px;
   
   }
   form textarea{
      margin-top: 20px;
      margin-left: 10px;
   }
   
   /* ul{
      list-style-type:none ;
      padding: 0;
      text-align: center;
   }
   ul li{
      display:grid;
      background: white;
      
      border-radius: 5px;
      box-shadow: 0 2px 4px white;
      margin: 10px;
      color: black
   } */
   footer{
      
      color: white;
      padding: 5px 0;
      text-align: center;
   
   }
   header{
      
      color: white;
      padding: 0;
      text-align: center;
      
   
   }
   .box{
       width: 100%;
       max-width: 500px;
       background: white;
       border-radius: 10px;
       background: #050e27;
       box-shadow: 8px 8px 12px rgba(238, 249, 38, 0.7);}

       img{
         width: 70px;
         height: 70px;
         
         padding: 10px;
         
         
         object-fit: cover;
      }
   .purple{
      color: rgb(47, 11, 145);
      
      font-size: 27px;
      font-weight: 700;
      font-style: poppins;
   }
   
  
}
